.taskBody {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 8px;
	padding: 24px 16px;
	border-radius: 8px;
	background: var(--color-bg-elements);
	box-shadow: 0px 4px 6px 0px rgba(54, 78, 126, 0.1);
	border: none;
	outline: none;
	cursor: pointer;
	text-align: start;

	&:hover {
		.taskTitle {
			color: var(--color-accent);
		}
	}
}
