.title {
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.xl {
	font-size: 24px;

	@media (max-width: 768px) {
		font-size: 20px;
	}

	@media (max-width: 600px) {
		font-size: 18px;
	}
}

.l {
	font-size: 18px;
	line-height: 23px;
}

.m {
	font-size: 15px;
	line-height: 19px;
}

.s {
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 2.4px;
	text-transform: uppercase;
}

.primary {
	color: var(--color-text);
}

.light {
	color: var(--color-light);
}

.dark {
	color: var(--color-dark);
}

.gray {
	color: var(--color-gray);
}

.red {
	color: var(--color-red);
}
