.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	border-bottom: 1px solid var(--color-lines);
	background: var(--color-bg-elements);
	z-index: 1;
}

.sidebarActive {
	padding-left: 300px;
}

.logo {
	padding: 32px 30px 0 24px;
}

.content {
	padding: 20px 26px 28px 32px;
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-left: 1px solid var(--color-lines);
}

.buttonsWrapper {
	display: flex;
	align-items: center;
	gap: 16px;
}
