.boardList{
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.listTitle {
	margin: 0 0 20px 32px;
}

.list {
	display: flex;
	flex-direction: column;
	overflow: overlay;
	direction: rtl;

	li{
		direction: ltr;
	}
}

.colorAccent {
	color: var(--color-accent);
}