.boardWrapper {
	padding-top: 96px;
	height: 100%;

  @media(max-width:768px){
    padding-top: 72px;
  }
  @media(max-width:600px){
    padding-top: 64px;
  }
}

.sidebarActive {
	padding-left: var(--sidebar-width);
}
