@import "reset-css";
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");

* {
	box-sizing: border-box;
	font-family: "Plus Jakarta Sans", sans-serif;
	transition: background-color 0.15s, border-color 0.15s;
}

.preload {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}

:root {
	font-family: "Plus Jakarta Sans", sans-serif;
	line-height: 1.5;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--color-light: #ffffff;
	--color-dark: #000112;
	--color-accent: #635fc7;
	--color-accent-light: #a8a4ff;
	--color-red: #ea5555;
	--color-red-light: #ff9898;
	--color-lines-light: #e4ebfa;
	--color-lines-dark: #3e3f4e;
	--color-gray: #828fa3;
	--color-gray-light: #f4f7fd;
	--color-gray-dark: #2b2c37;
	--color-gray-very-dark: #20212c;

	--gradient-light: linear-gradient(
		180deg,
		#e9effa 0%,
		rgba(233, 239, 250, 0.5) 100%
	);
	--gradient-dark: linear-gradient(
		180deg,
		rgba(43, 44, 55, 0.25) 0%,
		rgba(43, 44, 55, 0.13) 100%
	);
}

body {
	--color-bg: var(--color-gray-light);
	--color-bg-elements: var(--color-light);
	--color-bg-select: var(--color-light);
	--color-lines: var(--color-lines-light);
	--color-text: var(--color-dark);
	--color-label: var(--color-gray);
	--color-gradient: var(--gradient-light);
	background: var(--color-bg);
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
	display: none;
}

body[data-theme="dark"] {
	--color-bg: var(--color-gray-very-dark);
	--color-bg-elements: var(--color-gray-dark);
	--color-bg-select: var(--color-gray-very-dark);
	--color-lines: var(--color-lines-dark);
	--color-text: var(--color-light);
	--color-label: var(--color-light);
	--color-gradient: var(--gradient-dark);
}

#root {
	display: flex;
	min-height: 100svh;
	> main {
		flex-grow: 1;
	}
}
