.column {
	width: 280px;
	display: flex;
	flex-direction: column;
}

.columnTitle {
	margin-bottom: 24px;
}

.tasksWrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
	height: 100%;
	border-radius: 6px;

	&:empty {
		background: var(--color-gradient);
	}
}
