.column {
	width: 280px;
	height: 100%;
	display: flex;
	flex-direction: column;

	&:not(:only-child) {
		&:nth-child(3n + 1) {
			--point-color: #49c4e5;
		}

		&:nth-child(3n + 2) {
			--point-color: #8471f2;
		}

		&:nth-child(3n + 3) {
			--point-color: #67e2ae;
		}
	}
}

.columnTitle {
	position: relative;
	margin-bottom: 24px;
	padding-left: 27px;

	&:before {
		content: "";
		position: absolute;
		aspect-ratio: 1;
		width: 15px;
		left: 0;
		top: 50%;
		translate: 0 -50%;
		border-radius: 50%;
		background-color: var(--point-color, var(--color-accent));
	}
}

.tasksWrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 20px;
	height: 100%;
	border-radius: 10px;

	&:before {
		content: "";
		z-index: -1;
		position: absolute;
		inset: 0;
		background: var(--color-gradient);
		opacity: 0;
		transition: 0.1s;
		border-radius: 10px;
	}

	&:empty&:before {
		opacity: 1;
	}

	&.over&:before {
		opacity: 1;
		background-color: var(--color-accent-light);
	}
}
